$btnDim: 60px;

* {
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  user-select: none;
}
body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  background-color: lightgray;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: inset 0 0 10px 0 black;
}
.internal {
  border: 4px solid black;
  margin: 3px;
  font-weight: bold;
  cursor: pointer;
}
input {
  width: 98%;
  height: 60px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 10px;
  overflow: auto;
  background-color: cornsilk;
  box-shadow: inset 2px 2px 8px 0 gray, 3px 3px 5px 0 gray;
  border-radius: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.buttons {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
}
.btn {
  box-shadow: 3px 3px 5px 0 gray;
  transition: transform .06s;
  border-radius: 10px;
  &:active {
    box-shadow: 3px 3px 5px 0 gray;
    transform: translate(2px, 2px)
  }
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.smallBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 75%;
  padding: 0;
}
.tallBtn, .smallBtn {
  width: $btnDim;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallBtn {
  height: $btnDim;  
}
.numBtn {
  background-color: skyblue;
}
#clearBtn {
  background-color: tomato;
}
.wideBtn {
  flex-basis: 73%;
  margin-right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background-color: khaki;
}